#createTaskButton {
    -fx-background-color: #BB86FC;
    -fx-background-radius: 40%;
    -fx-cursor: pointer;
    -fx-effect: dropshadow( one-pass-box , black , 5 , 0.0 , 1 , 0 );
}

.split-pane {
    -fx-box-border: transparent;
}


AnchorPane, .root, #taskView, #Content {
    -fx-border-width: 0px;
    -fx-background-color: #19161d;
    -fx-font-family: "Apple Symbols";
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

#sideTitle, #sideDate {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
}

#sideDescription {
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
}

Textfield, .root, #searchBox {
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-border-color: rgba(255, 255, 255, 0.44);
}

.menu-bar{
    -fx-background-color: #121212;
    -fx-text-fill: white;
}

.menu:hover {
    -fx-background-color: linear-gradient(#2e314e 0%, #4C4177 100%);
}

.menu {
    -fx-text-fill: white;
}

.menu-bar:focused {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#2e314e 0%, #4C4177 100%);
}

.menu .label
{
    -fx-text-fill: white;
}


.context-menu {
    -fx-text-fill: white;
    -fx-background-color: #121212;
}

.menu-item {
     -fx-text-fill: white;
}

.menu-item .label {
     -fx-text-fill: white;
}

.menu-item:focused {
     -fx-text-fill: white;
     -fx-background-color: linear-gradient(#2e314e 0%, #4C4177 100%);
}

.split-pane-divider {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.text-field {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#2e314e 0%, #4C4177 100%);
    -fx-text-fill: white;
}

.list-cell:odd {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: #1F1B24;
    -fx-text-fill: white;
}

.list-cell:even {
    -fx-cell-hover-color: #0093ff;
    -fx-background-color: #19161d;
    -fx-text-fill: white;
}

.table-view .context-menu .menu-item {
    -fx-text-fill: white;
}

.scroll-bar:horizontal .thumb {
-fx-background-color:
        rgba(255, 255, 255, 0.44),
    linear-gradient(#2e314e 0%, #4C4177 100%),
    linear-gradient(#2e314e 0%, #4C4177 100%);
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 0.5em; /* makes sure this remains circular */
}

.scroll-bar:vertical .thumb {
-fx-background-color:
    linear-gradient(#2e314e 0%, #4C4177 100%),
    linear-gradient(#2e314e 0%, #4C4177 100%),
    linear-gradient(#2e314e 0%, #4C4177 100%);
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 0.5em; /* makes sure this remains circular */
}

.scroll-bar:horizontal {
-fx-background-color:
    #121212,
    #121212;
-fx-background-insets: 0, 1;
}
.scroll-bar:horizontal:focused {
-fx-background-color:
    #121212,
    #121212,
    #121212;
-fx-background-insets: -1.4, 0, 1;
}
.scroll-bar:vertical {
-fx-background-color:
    #121212,
    #121212;
-fx-background-insets: 0, 1;
}
.scroll-bar:vertical:focused {
-fx-background-color:
    #121212,
    #121212,
    #121212;
-fx-background-insets: -1.4, 0, 1;
}

.list-view {
    -fx-background-color: #121212;
}

.corner {
    -fx-background-color: #121212;
}
